// -----------------------------------------------------------------------------
// Фрагмент стилизации какой-то секции
// -----------------------------------------------------------------------------

#hero {
  position: relative;
  z-index: 2;

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;

    width: 100%;
    height: 50%;

    background: linear-gradient(
      180deg,
      rgba(#c4c4c4, 0) 71.78%,
      rgba(#c4c4c4, 0.3) 99.24%
    );

    pointer-events: none;
    transform: translateY(-80%);
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__content,
  &__slider {
    flex-shrink: 0;
  }

  &__content {
    flex-grow: 1;
  }

  &__slider {
    @include breakpoint($breakpoint-laptop--medium) {
      width: 720px;
    }

    position: relative;
    z-index: 3;
    width: 935px;

    .swiper-pagination {
      top: 50px;
      right: 50px;
      bottom: unset;
      left: unset;

      width: unset;
    }
  }

  &__title {
    margin-bottom: 30px;
  }

  &__description {
    margin-bottom: 70px;
  }

  &__action {
    position: relative;
    display: inline-flex;

    @media (hover: hover) {
      &:hover::after {
        height: 2px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;

      width: 300%;
      height: 1px;

      background-color: $palette-black;

      transform: translateY(-50%) rotate(150deg);
      transform-origin: center left;

      transition: $transition ease;
    }
  }

  &__picture {
    @include breakpoint($breakpoint-laptop--medium) {
      height: 425px;
    }

    width: 100%;
    height: 550px;
  }
}
