#service {
}

.service {
  &__row {
    @include odd {
      .service__content {
        padding-right: 30px;
        text-align: right;
      }
    }

    @include even {
      .service__content {
        padding-left: 30px;
        text-align: left;
      }
    }

    display: flex;
    justify-content: space-between;

    &:nth-child(1) {
      .service__grid {
        @include breakpoint($breakpoint-laptop--medium) {
          grid-template-rows: auto 100px;
        }

        grid-template-rows: auto 120px;
        grid-template-columns: 45% auto;
      }

      .service__action {
        grid-column: 1 / 3;

        svg {
          margin-right: 50px;
          margin-left: auto;
        }
      }
    }

    &:nth-child(2) {
      .service__grid {
        @include breakpoint($breakpoint-laptop--medium) {
          grid-template-rows: auto 150px;
        }

        grid-template-rows: auto 200px;
        grid-template-columns: 75% auto;
      }

      .service__content {
        grid-column: 1 / 3;
      }

      .service__action svg {
        margin: 0 auto;
      }
    }

    &:nth-child(3) {
      .service__grid {
        grid-template-rows: auto 150px;
        grid-template-columns: 75% auto;

        .service__picture {
          grid-row: 1 / 3;
          grid-column: 2 / 3;
        }
      }

      .service__content {
        padding-top: 85px;
        padding-right: 70px;

        background-color: $palette-black;
        color: $color-text__white;
      }

      .service__action svg {
        margin-left: 60px;
      }
    }

    &:nth-child(4) {
      .service__grid {
        grid-template-rows: auto 200px;
        grid-template-columns: 70% auto;

        .service__picture {
          grid-row: 2 / 3;
          grid-column: 1 / 3;
        }
      }

      .service__action svg {
        margin: 0 auto;
      }
    }

    &:nth-child(5) {
      .service__grid {
        @include breakpoint($breakpoint-laptop--medium) {
          grid-template-rows: auto 65px 170px;
          grid-template-columns: 200px 75px auto;
        }

        grid-template-rows: auto 85px 170px;
        grid-template-columns: 250px 100px auto;

        .service__contact {
          grid-column: 1 / 3;
        }

        .service__email {
          grid-row: 2 / 3;
          grid-column: 2 / 3;
        }

        .service__action {
          grid-row: 2 / 3;
          grid-column: 1 / 2;

          svg {
            margin: 0 auto;
          }
        }

        .service__picture {
          grid-row: 3 / 4;
          grid-column: 1 / 4;
        }
      }
    }
  }

  &__column {
    width: 50%;
  }

  &__grid {
    display: grid;
    width: 100%;
    height: 100%;
  }

  &__content {
    @include breakpoint($breakpoint-laptop--medium) {
      padding-top: 50px;
    }

    padding-top: 70px;
    background-color: $palette-white;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__picture {
    width: 100%;
    height: 100%;
  }

  &__action {
    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;

    background-color: $palette-black;

    &--green {
      background-color: $palette-green;
    }
  }

  &__contact {
    @include breakpoint($breakpoint-laptop--medium) {
      padding: 0 35px;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 45px;
    background-color: $palette-black;

    span,
    a {
      font-weight: $weight-Light;
    }

    & > * {
      color: $color-text__white;
    }
  }

  &__email {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #d8d8d8;

    text-align: center;

    svg {
      width: 45%;
      height: 45%;
    }
  }
}
