// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
  position: fixed;
  z-index: $z-index-header;
  top: 0;
  left: 0;

  width: 100%;

  background-color: $palette-white;
}

.header-compressed {
  .header__wrapper {
    transform: none;
  }

  .header__logo {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.header {
  display: flex;
  justify-content: space-between;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 45px 90px 35px;

    background-color: $palette-black;
    transition: $transition ease;
  }

  &__wrapper {
    display: flex;
    align-items: center;

    margin-top: auto;
    margin-bottom: auto;

    transform: translateY(155%);
    transition: $transition ease;
  }

  &__nav {
    margin-right: 50px;
  }

  &__action {
    position: relative;

    @media (hover: hover) {
      &:hover::after {
        height: 2px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -300%;

      width: 300%;
      height: 1px;

      background-color: $palette-black;

      transform: translateY(-50%) rotate(-30deg);
      transform-origin: center left;

      transition: $transition ease;
    }
  }

  &__button {
    padding-right: 20px;
    padding-left: 20px;
  }
}
