// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к блоку навигации
// -----------------------------------------------------------------------------

.nav {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
  }

  &__link {
    @media (hover: hover) {
      &:hover {
        font-weight: $weight-Bold;
      }
    }
  }

  &--header {
    .nav__item {
      &:not(:last-child) {
        margin-right: 60px;
      }
    }

    .nav__link {
      font-size: $font-size__text--large;
    }
  }
}
