#client {
}

.client {
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 80px;
    }
  }

  &__logo {
    height: 100%;
  }
}
