#client {
}

.client {
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      @include breakpoint($breakpoint-laptop--medium) {
        margin-bottom: 40px;
      }

      margin-bottom: 80px;
    }
  }

  &__logo {
    @include breakpoint($breakpoint-laptop--medium) {
      transform: scale(0.7);
    }
  }
}
