// Цветовая палитра блоков
$palette-white: #ffffff;
$palette-green: #394d39;
$palette-black: #404040;

// Цветовая палитра текста
$color-text__black: #151515;
$color-text__gray: #6a6a6a;
$color-text__gray--light: #adadad;
$color-text__green: #394d39;
$color-text__white: #ffffff;
