main[id="leasing"] #hero {
  @include breakpoint($breakpoint-laptop--medium) {
    margin-top: 60px;
  }

  margin-top: 90px;

  &::after {
    top: initial;
    bottom: 0;

    transform: none;
  }
}

main[id="leasing"] .hero {
  display: block;

  .list__item::before {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-top: 0.6rem;
    }

    margin-top: 0.7rem;
  }
}
