.list {
  &__item {
    display: flex;
    align-items: flex-start;

    &::before {
      content: "";
      flex-shrink: 0;
      width: 4px;
      height: 4px;

      margin-top: 8px;
      margin-right: 10px;

      border-radius: 50%;
      background-color: $color-text__black;
    }
  }
}
