#callback {
  position: relative;
  margin-top: 100px;
  padding: 75px 0;

  background: linear-gradient(180deg, #101010 0%, #404040 100%);
  background-color: $palette-black;
  color: $color-text__white;

  .section__title {
    color: $color-text__white;

    font-weight: $weight-Medium;
    font-size: $font-size__title--small;
  }
}

.callback {
  &__background {
    @include breakpoint($breakpoint-laptop--medium) {
      width: 550px;
    }

    position: absolute;
    top: 0;
    left: 0;

    width: 650px;
  }

  &__phone {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 24px 0;

    background: linear-gradient(178deg, #404040 1.69%, #262626 98.31%);
    color: $color-text__white;
    box-shadow: 0 4px 4px rgba(#000000, 0.25);

    font-size: $font-size__text--large;

    transition: $transition ease;

    @media (hover: hover) {
      &:hover {
        box-shadow: 0 4px 10px rgba(#000000, 0.35);
        font-weight: $weight-Medium;
      }
    }
  }
}
