.button-outline {
  border-color: #999999;
  color: $color-text__black;

  @media (hover: hover) {
    &:hover {
      border-color: #404040;
      background-color: #404040;
      color: $color-text__white;
    }
  }

  &--dark {
    border-color: #404040;
    color: $color-text__white;

    @media (hover: hover) {
      &:hover {
        border-color: #ffffff;
        background-color: #ffffff;
        color: $color-text__green;
      }
    }
  }
}
