.button {
  display: inline-block;

  padding: 8px 50px;

  border: 1px solid transparent;
  outline: none;

  background-color: transparent;

  text-align: center;
  white-space: nowrap;
  cursor: pointer;

  transition: all $transition ease;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
