main[id="about"] #hero {
  @include breakpoint($breakpoint-laptop--medium) {
    margin-top: 60px;
  }

  margin-top: 90px;

  &::after {
    top: initial;
    bottom: 0;

    transform: none;
  }
}

main[id="about"] .hero {
  &__content {
    flex-shrink: initial;
  }

  &__picture {
    @include breakpoint($breakpoint-laptop--medium) {
      width: 580px;
      margin-right: 0;
    }

    flex-shrink: 0;
    width: 840px;

    margin-right: -100px;
    margin-left: 50px;
  }

  &__action::after {
    transform: translateY(-50%) rotate(160deg);
  }
}
